<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABC HR Company</title>
    <!-- Include your CSS files and other meta tags here -->
    <link rel="stylesheet" href="app.component.css">
  </head>
  <body>

    <!-- Header -->
  <header>
    <nav>
      <!-- Add your navigation links here -->
      <ul>
        <li><a routerLink="/">Home</a></li>
        <!-- <li><a routerLink="/employee-list">Employee List</a></li>
        <li><a routerLink="/departments">Departments</a></li>
        <li><a routerLink="/dashboard">Dashboard</a></li> -->
        <li><a routerLink="/available-jobs">Available Jobs</a></li>
        <li><a routerLink="/registrant-list">Jobseekers</a></li>
        <li><a routerLink="/registration-form">Registration-Form</a></li>
        <!-- Add more navigation links as needed -->
      </ul>
    </nav>
  </header>

    <!-- Main Content Area -->
  <main>
    <!-- This is where your routed components will be displayed -->
    <router-outlet></router-outlet>
    
    
    <!-- MY NOTE: example for loading another component in home/ page:
      <app-department-list></app-department-list> 
      <app-contact></app-contact> -->
  </main>

    <!-- Footer -->
  <footer>
    <p>&copy; 2023 ABC HR Company</p>
  </footer>

  </body>
</html>

