<img src="assets/star-logo.png" alt="Logo" class ="logo-image">
<h1> Welcome to Human Resources Management System - ABC HR Company</h1>
<h2>About</h2>
<p> ABC HR Company welcomes all employers and Jobseekers to add jobs, view jobs, view jobseekers or register yourself as a jobseeker. We securely manage your personal data inorder to find yourself an employee or a job. </p>

        <!-- <ul><a routerLink="/employee-list">Employee List</a></ul>
        <ul><a routerLink="/departments">Departments List</a></ul>
        <ul><a routerLink="/dashboard">Dashboard</a></ul> 
        <ul><a routerLink="/available-jobs">Available Jobs</a></ul>
        <ul><a routerLink="/registration-form">Register Here</a></ul>
        <ul><a routerLink="/registrant-list">View Registrants</a></ul> -->

        <div class="router-links-container">
                <a routerLink="/available-jobs" class="router-link-tile" routerLinkActive="router-link-active">
                  <span class="router-link-text">Available Jobs</span>
                </a>
                <a routerLink="/registration-form" class="router-link-tile" routerLinkActive="router-link-active">
                  <span class="router-link-text">Register Here</span>
                </a>
                <a routerLink="/registrant-list" class="router-link-tile" routerLinkActive="router-link-active">
                  <span class="router-link-text">View Jobseekers</span>
                </a>
              </div>
              

        
<h2>Our Services</h2>
        <div class=" our-services-container">
                <ul> <li> Job listing  </li></ul>
                <ul> <li> Job searching </li> </ul>
                <ul> <li> Registration of jobseekers </li> </ul>
                <ul> <li> Finding well-qualified employers for companies </li></ul>

        </div>
        




